<!DOCTYPE html>
<html>

<head> 
    <meta charset="utf-8">
    <title>我接受的任务</title> 
    <link rel="stylesheet" type="text/css" href="..\..\static\css\task_rec_style.css">
</head>

<body>
<div class="header">
    <h1>SCHOOL Helper</h1>
    <p><b>我接受的任务</b></p>
</div>
<!--2020年4月30日 新增 swf 未登录显示 if-->
{% if user_id %}

<div class="topnav">
    <a href={% url 'tasks_square:task_square' %} style="margin-left: 100px;">任务广场</a>
    <a href={% url 'hunt:up0' %}>我要发布</a>
    <a href={% url 'hunt:edit' %} class="active">个人中心</a>
    <a href="#" style="float:right; margin-right: 100px;"><img src="..\..\static\image\user_center.png" width="35px"
                                                               height="35px"></a>

</div>
<div id="navbar">
    <h2>我接受的任务</h2>
    <ul>
        <li><a href={% url 'task_received:all_task_received' %} class="current-top">全部</a></li>
        <li><a href={% url 'task_received:received_tasks_not_finished' %}>未完成</a></li>
        <li><a href={% url 'task_received:received_tasks_finished' %}>已完成</a></li>
        <li><a href={% url 'tasks_square:task_square' %}>回到任务广场</a></li>
    </ul>
</div>

<div id="content">
    <div id="menu">
        <!--任务类别；选中哪个类别的任务，加粗，这个没做出来-->
        <!-- <b>任务类别</b> -->
        <a href={% url 'task_received:all_task_received' %} class="current_menu">全部</a>
        {% for tasktype in task_types %}
            <a href={% url 'task_received:task_sometype' tasktype.id %}>{{ tasktype.typename }}</a>
        {% endfor %}
    </div>

    <b style="font-size: 30px; margin-left: 40%; margin-top: 20px;">任务列表</b>
    {% for task in task_received_list %}
        <div class="task_box">
            <a href={% url 'task_received:task_detail' task.id %}>{{ task.task_name }}</a>
            <p>任务简述：
                <article>{{ task.task_sketch }}</article>
            </p>
            <div id="status">
                {% if task.is_finished == False %}
                    <form action="{% url 'task_received:reasons_revoke' task.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="撤销任务"/>
                    </form>
                    <!--想弄再次确定弹框，点击确定后才跳转到评价页面，而不是直接确定-->
                    <form action="{% url 'task_received:task_finished' task.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="完成任务"/>
                    </form>
                {% else %}
                    <p style="float: right; margin-top: 30px; display: block;
            background: rgb(168, 185, 223); padding: 10px;border-radius: 25px;
            ">该任务已完成</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
<!--2020年4月30日 swf 分页功能-->
<div class="pagination">
    <span class="step-links">
        {% if task_received_list.has_previous %}
            <a href="?page={{ task_received_list.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            Page {{ task_received_list.number }} of {{ task_received_list.paginator.num_pages }}.
        </span>

        {% if task_received_list.has_next %}
            <a href="?page={{ task_received_list.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
</div>

{% else %}
<a href={% url 'hunt:login' %}>请先登录！</a>
{% endif %}
</body>

</html>