<!DOCTYPE html>
<html>

<head> 
    <meta charset="utf-8">
    <title>我接受的任务</title> 
    <link rel="stylesheet" type="text/css" href="..\..\..\..\static\css\rev_fin.css">
</head>

<body>
    <div class="header">
        <h1>Dark Forest</h1>
        <p><b>我接受的任务</b></p>
    </div>

    <div class="topnav">
        <a href={% url 'tasks_square:task_square' %} style="margin-left: 100px;">任务广场</a>
        <a href={% url 'hunt:up0' %}>我要发布</a>
        <a href={% url 'hunt:edit' %} class="active">个人中心</a>
        <a href="#" style="float:right; margin-right: 100px;"><img src="..\..\static\image\user_center.png" width="35px"
                height="35px"></a>

    </div>

    <div id="content">
    <!--swf:2020年4月25日 整个文件新增-->
    {% if comment == 1 %}
    <div style="height:300px; line-height: 300px"><b>评价成功,该任务已完成！</b></div>
    {% elif revoke == 1 %}
    <div style="height:300px; line-height: 300px"><b>提交成功，该任务已撤销！</b></div>
    {% endif %}
    <a  href={% url 'task_received:all_task_received' %}> 返回 </a>
    </div>

</body>

</html>