<!DOCTYPE html>
<html>

<head> 
    <meta charset="utf-8">
    <title>我接受的任务</title> 
    <link rel="stylesheet" type="text/css" href="..\..\..\..\static\css\rev_fin.css">
</head>

<body>
    <div class="header">
        <h1>Dark Forest</h1>
        <p><b>发布任务</b></p>
    </div>

    <div class="topnav">
        <a href={% url 'tasks_square:task_square' %} style="margin-left: 100px;">任务广场</a>
        <a href={% url 'hunt:up0' %}>我要发布</a>
        <a href={% url 'hunt:edit' %} class="active">个人中心</a>
        <a href="#" style="float:right; margin-right: 100px;"><img src="..\..\..\..\static\image\user_center.png"
                width="35px" height="35px"></a>

    </div>

    <!--还没写提交后的操作-->
    <div id="content">
        <b>您将要撤销名为“{{ task.task_name }}”的任务吗？</b>

        <form method="post" action={% url 'task_received:revoke' %}>
            {% csrf_token %}
            <p><b>请输入撤销原因: </b></p>
            <textarea type="text" name="reasons"  placeholder="请输入撤销原因" style="resize:none; width:800px; height:200px; margin-top: 20px;"></textarea>
            <input type="submit" id="btn" value="提交，确定撤销">
        </form>
        <a href={% url 'task_received:all_task_received' %}>取消，返回</a>
    </div>
</body>

</html>