<!DOCTYPE html>
<html>

<head> 
    <meta charset="utf-8">
    <title>我接受的任务</title> 
    <link rel="stylesheet" type="text/css" href="..\..\..\static\css\task_rec_style.css">
</head>

<body>
    <div class="header">
        <h1>Dark Forest</h1>
        <p><b>我接受的任务</b></p>
    </div>

    <div class="topnav">
        <a href={% url 'tasks_square:task_square' %} style="margin-left: 100px;">任务广场</a>
        <a href={% url 'hunt:up0' %}>我要发布</a>
        <a href={% url 'hunt:edit' %} class="active">个人中心</a>
        <a href="#" style="float:right; margin-right: 100px;"><img src="..\..\..\static\image\user_center.png"
                width="35px" height="35px"></a>

    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="navbar">
                <h2>我接受的任务</h2>
                <ul>
                    <li><a href={% url 'task_received:all_task_received' %} class="active">全部</a></li>
                    <li><a href={% url 'task_received:received_tasks_not_finished' %}>未完成</a></li>
                    <li><a href={% url 'task_received:received_tasks_finished' %}>已完成</a></li>
                    <li><a href={% url 'tasks_square:task_square' %}>回到任务广场</a></li>
                </ul>
            </div>
        </div>

        <div class="rightcolumn">
            <div id="menu">

                <a href={% url 'task_received:all_task_received' %}>全部</a>
                {% for tasktype in task_types %}
                {% if tasktype.pk == typeid_now %}
                <a href={% url 'task_received:task_sometype' tasktype.id %}
                    class="current_menu">{{ tasktype.typename }}</a>
                {% else %}
                <a href={% url 'task_received:task_sometype' tasktype.id %}>{{ tasktype.typename }}</a>
                {% endif %}
                {% endfor %}
            </div>

            {% for task in tasklist_sometype %}
            <div class="card">
                <a href={% url 'task_received:task_detail' task.id %}>
                    <h2>{{ task.task_name }}</h2>
                </a>
                <span
                    style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">{{ mission.task_sketch }}</span>
                <div class="card-date">截止时间：{{ task.task_time }}<br></div>
                <div class="card-money">
                    ¥&nbsp;{{ task.task_reward }}<br>
                </div>
                {% if task.is_finished == False %}
                <form action="{% url 'task_received:reasons_revoke' task.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="button" value="撤销任务" />
                </form>
                <!--想弄再次确定弹框，点击确定后才跳转到评价页面，而不是直接确定-->
                <form action="{% url 'task_received:task_finished' task.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="button" value="完成任务" />
                </form>
                {% else %}
                <p>该任务已完成</p>
                {% endif %}
            </div>
            {% endfor %}
            <!--2020年4月30日 swf 分页功能-->
            <div class="pagination">
                <span class="step-links">
                    {% if tasklist_sometype.has_previous %}
                        <div class="arrowhead"><a href="?page={{ tasklist_sometype.previous_page_number }}">上一页</a></div>
                    {% endif %}

                    <span class="current">
                        <strong>Page {{ tasklist_sometype.number }}  &#47; {{ tasklist_sometype.paginator.num_pages }}</strong>
                    </span>

                    {% if tasklist_sometype.has_next %}
                        <div class="arrowhead"><a href="?page={{ tasklist_sometype.next_page_number }}">下一页</a></div>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class="footer">
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
</body>

</html>