{% extends 'base_main.html' %}

{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'Schoolmateshelper/main/css/task.css' %}">
{% endblock %}



{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/swiper.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'Schoolmateshelper/user/js/task.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container" id="task">
        <form method="post" enctype="multipart/form-data" action="{% url 'App:task' %}" onsubmit="return checktask()" style="height:auto;overflow: auto;padding: 1.5rem 0;">

            {% csrf_token %}

            <div class="form-group">
                <label for="taskname_input">任务名称</label>
                <input type="text" class="form-control" id="taskname_input" placeholder="请输入任务名称" name="taskname">
                <span id="taskname_info"></span>
            </div>
            <div class="form-group">
                <label for="tasktype_input">任务类型</label>
                <select class="form-control" id="tasktype_input" name="tasktype" style="width: 10rem;">
                    <option value=1>快递服务</option>
                    <option value=2>修理服务</option>
                    <option value=3>课业指导</option>
                    <option value=4>邂逅表白</option>
                    <option value=5>其他服务</option>
                </select>
                <span id="tasktype_info"></span>
            </div>

            <div class="form-group">
                <label for="contact_input">你想要透露的联系方式</label>
                <select class="form-control" id="contact_input" name="contact" style="width: 10rem;">
                    <option value=1>email</option>
                    <option value=2>QQ</option>
                    <option value=3>wechat</option>
                    <option value=4>telephone</option>
                    <option value=5>其它联系方式</option>
                </select>
                <span id="contact_info"></span>
            </div>

            <div class="form-group">
                <label for="tasksketch_input">任务简介</label>
                <textarea rows="3" class="form-control" placeholder="请输入任务简介,以简单地描述你的任务(不超过200字)" id="tasksketch_input"
                          name="tasksketch"></textarea>
                <span id="taskskecth_info"></span>
            </div>

            <div class="form-group">
                <label>截止日期</label><br>
                <input type="text" class="form-control" id="taskdate_year_input" placeholder="截至年份" name="taskdate_year"
                       style="width: 2.2rem;display: inline;">
                <label>年</label>
                <span id="taskdate_year_info"></span>
                <input type="text" class="form-control" id="taskdate_month_input" placeholder="截至月份" name="taskdate_month"
                       style="width: 2.2rem;display: inline;">
                <label>月</label>
                <span id="taskdate_month_info"></span>
                <input type="text" class="form-control" id="taskdate_day_input" placeholder="截至日期" name="taskdate_day"
                       style="width: 2.2rem;display: inline;">
                <label>日</label>
                <span id="taskdate_day_info"></span>
            </div>
            <div class="form-group">
                <label>任务酬劳</label><br>
                <input type="text" class="form-control" id="taskreward_input" placeholder="你想给你的委托者多少酬劳呢？" name="taskreward"
                       style="width: 6rem;display: inline;">
                <label>￥</label>
                <br>
                <span id="taskreward_info"></span>
            </div>

            <div class="form-group">
                <label for="taskfile_input">任务附件</label>
                <input type="file" id="taskfile_input" name="taskfile">
                <span id="taskfile_info"></span>
            </div>
            <button type="submit" class="btn btn-block btn-warning">发布任务</button>
        </form>


    </div>
{% endblock %}