{% extends 'base_main.html' %}

{% block content %}
    <div style="position: relative; padding: 1.5rem 0;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">客服QQ</h3>
            </div>
            <div class="panel-body">
                2066278354
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">客服QQ</h3>
            </div>
            <div class="panel-body">
                2066278354
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">客服电话</h3>
            </div>
            <div class="panel-body">
                54749110
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">客服微信号</h3>
            </div>
            <div class="panel-body">
                shanghaijiaotongdaxue
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">当前版本</h3>
            </div>
            <div class="panel-body">
                _v1.0
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">更新时间</h3>
            </div>
            <div class="panel-body">
                2020.3.27
            </div>
        </div>
        <a href="{% url 'App:mine' %}" style="font-size: large">
            <span class="glyphicon glyphicon-share-alt" style="color: blue"></span>
            <span style="color: blue">返回</span>
        </a>

    </div>
{% endblock %}