* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-image: url('../image/shuicai.jpg');
}


/* 头部标题 */

.header {
    padding: 30px;
    text-align: center;
    height: 300px;
    width: 100%;
    background-color: white;
    background-image: url('../image/shuicaino.jpg');
    background-repeat: no-repeat;
}

.header h1 {
    font-size: 50px;
}


/* 导航条 */

.topnav {
    overflow: hidden;
    background-color: #333;
    height: 48px;
}


/* 导航条链接 */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* 链接颜色修改 */

.topnav a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}


/* 激活 */

.topnav a.active {
    background-color: rgb(160, 160, 151);
    color: black;
}


/* 创建两列 */


/* Left column */

.leftcolumn {
    float: left;
    width: 20%;
    padding-top: 2%;
}

.row .leftcolumn .back
{
    margin-left: 25%;
    background: #1e7db9;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    cursor: pointer;
}

.leftcolumn h2 {
    margin-left: 10%;
}

ul {
    margin-left: 10%;
    list-style-type: none;
    padding: 0;
    width: 90%;
}

ul li
{
    width: 100%;
    padding-top: 2%;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    border-right: #000 10px solid;
}

/* li a:hover:not(.active) {
    background-color: #555;
    color: white;
} */


/* 右侧栏 */

.rightcolumn {
    float: left;
    width: 75%;
    padding-left: 20px;
}

.form-group
{
    float: left;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 20px;
}
.form-group select
{
    width: 10%;
    height: 40px;
    margin-left: 5px;
}

form input
{
    margin-top: 2.5%;
    height: 30px;
    margin-left: 3%;
    width: 5%;
}

.select {
    display: inline-block;
    width: 300px;
    position: relative;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    color: #555;
    border: 1px solid #aaa;
    text-shadow: none;
    border-radius: 4px;	
    transition: box-shadow 0.25s ease;
    z-index: 2;
}

.select:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.select:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #ccc;
    top: 14px;
    right: 10px;
    cursor: pointer;
    z-index: -2;
}
.select select {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select:focus {
    outline: none;
}



/* 文章卡片效果 */

.card {
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    margin-top: 25px;
    box-shadow: 10px 10px 5px #888888;
}

.card form
{
    display: inline;
}

.card input
{
    width: auto;
}


/* 列后面清除浮动 */

.row:after {
    content: "";
    display: table;
    clear: both;
}
/* 连接按钮 */
.button {
   background: #1e7db9;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border-bottom: 1px solid #222;
    position: relative;
    cursor: pointer;
}

/* 底部 */


.pagination
{
    margin-top: 5%;
    margin-left: 38%;
}

.disabled
{
    text-decoration: none;
    color: rgb(88, 84, 84);
}

.footer {
    padding: 20px;
    text-align: center;
    background-image: url('/../../static/image/diduan2.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    margin-top: 75px;
}